@import "tailwindcss";

@theme inline {
  --font-abril: var(--font-abrilfatface);
  --font-serif: var(--font-vollkorn);
}

html,
body {
  height: 100%;
  min-height: 100%;
}

input {
  @apply border border-taupe-400 px-2 pt-1.5 pb-0.5 leading-none text-xl placeholder:text-taupe-300 focus:border-orange-400 outline-0 focus:ring focus:ring-orange-400;
}

label,
legend {
  @apply uppercase tracking-widest text-sm font-bold text-taupe-400;
}
